body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(164, 165, 165);
  margin: 0;
}
.calculator {
  background: rgb(166, 32, 255);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 260px;
}
#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid rgb(60, 142, 248);
  border-radius: 5px;
}
.buttons {
  color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: rgb(182, 149, 1);
  cursor: pointer;
  transition: background 0.2s;
}
button:hover {
  background-color: #d5d5d5;
}
button.zero {
  grid-column: span 2;
}
